{% extends 'base.html' %}

{% block title %}
О проекте
{% endblock %}

{% block body %}
<div class="container" style="padding-top: 110px">
    <h3> Изначальная задача данного проекта: реализовать микросервис для рассылки домашних работ.<br> <br>
        Однако,реализовать безопасную рассылку файлов очень сложно и в рамках летней практики <br>
        разработчики данного проекта не могут реализовать полный план.<br>
        <br>
        Но на данный момент можно считать данный проект микросервисом для рассылки новостей <br>
        от преподавателей. Его полезность заключается в том, что студенты могут получить инофрмацию,<br>
        не завися от старост, которым чаще всего приходит инофрмацию. Даже у старост есть дела, <br>
        и не всегда они могут разослать новости в срочном порядке.<br><br>

        Разаработчики:<br>
        Меркулов Данииил Александрович иб1-2б<br>
        (фронтэнд, девопс, бэкэнд, тимлидер, раб тимлидера и просто хороший парень).
    </h3>

</div>
{% endblock %}