{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container" style="padding-top: 150px">
    <h3> <br>
            Сейчас вы находитесь на главноей странице проекта Меркулова Даниила иб1-2б.<br><br>
        Для добавления возможности получать рассылку нажмите на поле "Студентам".<br>
        Примечание:одна почта не добавляется больше одного раза.<br><br>
        Для создания сообщения для рассылки нажмите на поле "Преподавателям".<br>
        пройдите аутнификацию и заполните форму сообщения.<br><br>
        Если хотите побольше узнать о проекте, посмотрите соответсвующую страницу.<br><br>

        Хорошего дня.

    </h3>
</div>
{% endblock %}